﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Maven Pro';
    color: #333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

h2 {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 20px 0 10px;
    color: #808;
}

a:link, a:hover, a:visited, a:active {
    color: #636;
}

div#token-container {
    width: 600px;
    margin: 30px auto;
    visibility: hidden;
    padding: 50px;
    border: 1px solid #cac;
}

div#token-container input#token {
    max-width: 400px;
    text-align: center;
    font-weight: bold;
}

#copiedToolTip {
    position: relative;
    top: -98px;
    left: 760px;
    display: block;
}
