﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Thomas Reichhart<br />
    Aspangstraße 45/1/11<br />
    1030 Wien<br />
</address>

<address>
    <strong>Email:</strong> <a id="contactEmail"></a>
</address>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var mailaddress = atob("c2FsdHltb2xseWJvdGVyQGJsYWNrZm9yZXN0LmF0").substring(5);
            $("#contactEmail").attr("href", "mailto:" + mailaddress);
            $("#contactEmail").html(mailaddress);
        });
    </script>
}