﻿@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome to mollyboter's website.</h2>
<div style="margin-top: 20px;">
    <ul>
        <li><a asp-action="Oauth">Get Oauth Token</a></li>
        <li><a asp-action="About">About mollyboter</a></li>
        <li><a asp-action="Contact">Contact</a></li>
    </ul>
</div>