﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>
    mollyboter Oauth Token Generator
</h2>

<div id="token-container">
    <div style="font-size: 20px; margin: 0 20px 20px;">Here is your Oauth Token:</div>
    <div></div>
    <div class="input-group">
        <span class="input-group-addon" id="yourToken">Your Token:</span>
        <input class="form-control" id="token" onfocus="$(this).select();" aria-describedby="yourToken">
        <a class="input-group-addon" href="javascript:void(0);" onclick="copyLink();"><span class="glyphicon glyphicon-share"></span> Copy</a>
    </div>
</div>
    <div id="redirecting-message-container"></div>
<div title="Copied." id="copiedToolTip"></div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#copiedToolTip").tooltip({
                open: function (e) { setTimeout(function () { $(e.target).tooltip("close"); }, 1000); }
            });

        });

        $(document).ready(function () {
            var OAUTH_TOKEN_GENERATOR_ENDPOINT = "https://api.twitch.tv/kraken/oauth2/authorize?response_type=token&client_id=qma4wgx8bdqqghebpwj3a70y86f6fyb&redirect_uri=http://mollyboter.blackforest.at/Oauth&scope=chat_login";

            var accessTokenRegex = /^\#access_token=([a-zA-Z0-9]+)&/;
            var match = accessTokenRegex.exec(location.hash);
            var accessToken;

            if (match) { accessToken = match[1]; displayToken(accessToken); }
            else location.href = OAUTH_TOKEN_GENERATOR_ENDPOINT;
        });

        var displayToken = function(token) {
            $("#token").val("oauth:" + token);
            $("#token-container").css("visibility", "visible");
        }


        var copyLink = function () {
            $("input#token").select();
            document.execCommand("copy");

            $("#copiedToolTip").tooltip("open");
        }

    </script>
}